<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="dev.ukanth.iconmgr">

    <!-- Screen support -->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="@xml/my_backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Light">

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAI_TbK8XPKNMd86jr_MxEWH4j6xY2mVmc028rfIA" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!--
                <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
            -->
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:exported="false"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.ukanth.iconmgr.MainActivity" />
        </activity>
        <activity
            android:name=".tasker.LocaleEdit"
            android:exported="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/tasker_label"
            android:uiOptions="splitActionBarWhenNarrow"
            android:windowSoftInputMode="adjustResize"
            tools:ignore="ExportedActivity">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.EDIT_SETTING" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".tasker.FireReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.twofortyfouram.locale.intent.action.FIRE_SETTING" />
            </intent-filter>
        </receiver>
        <!--<receiver android:name=".UninstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name=".InstallReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_INSTALL" />
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="com.android.vending.INSTALL_REFERRER" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>-->

        <activity
            android:name=".DetailsActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.ukanth.iconmgr.MainActivity" />
        </activity>

        <activity android:name=".favoriteIcons"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.ukanth.iconmgr.MainActivity" />
        </activity>
        <activity
            android:name=".IconPreviewActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.ukanth.iconmgr.MainActivity" />
        </activity>

        <activity
            android:name=".IconSearchActivity"
            android:exported="false"

            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="dev.ukanth.iconmgr.MainActivity" />
        </activity>

        <receiver android:name=".ApplyActionReceiver">
        </receiver>

        <receiver android:name=".PreviewActionReceiver">
        </receiver>

        <service
            android:name=".InstallNotificationService"
            android:stopWithTask="false"
            android:enabled="true">
        </service>

        <activity android:name=".RandomActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <provider
            android:name=".GenericFileProvider"
            android:authorities="${applicationId}.dev.ukanth.iconmgr.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.HOME" />
        </intent>
    </queries>
</manifest>